.ant-pagination .ant-pagination-item-active {
  border-radius: 40px;
  background-color: #d64453;
  border-color: #d64453;
}

.ant-pagination .ant-pagination-item {
  border-radius: 50%;
}
.ant-pagination .ant-pagination-item-active a {
  color: white;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: #f0f0f0 !important; /* Replace with your desired style */
  color: #333 !important; /* Replace with your desired color */
  border-radius: 40px;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: #d64453;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: black;
}
.panigate .ant-pagination-prev,
.panigate .ant-pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
}
