@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-picker-input > input::placeholder {
  font-size: 12px !important;
}
.input-number::placeholder {
  font-size: 12px;
}
/* CSS file */
.ant-select-item-option-content {
  font-size: 12px;
}
